.md-loading-stack {
	position: relative;
	max-width: 100%;

	// 使用伪元素 + padding 实现固定宽高比
	&.sized {
		width: var(--width);

		&::before {
			content: "";
			display: block;
			width: 100%;
			padding-top: var(--aspect-ratio);
		}
	}
}

.md-img {
	display: block;
	resize: none;
	max-width: 100%;
}

.md-img:not([data-loaded]) {
	width: 480px;
	height: 270px;
}

// 这个必须放在下面以覆盖 width & height
.sized > .md-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.md-img-alt {
	padding-top: .5em;
	font-style: italic;

	&::before { content: "「 "; }

	&::after { content: " 」"; }
}
