@default-width: 480px;
@default-height: 270px;

.md-loading-stack {
	position: relative;

	// 使用伪元素 + padding 实现固定宽高比
	&.sized {
		width: var(--width);
		max-width: 100%;

		&::before {
			content: "";
			display: block;
			padding-top: var(--aspect-ratio);
		}
	}
}

.md-img {
	display: block;
	resize: none;
	max-width: 100%;
}

.md-img[data-src] {
	width: @default-width;
	height: @default-height;
}

// 这个必须放在下面以覆盖 width & height
.sized > .md-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.md-img-alt {
	padding-top: .5em;
	font-style: italic;

	&::before { content: "「 "; }

	&::after { content: " 」"; }
}
