@import "../css/imports";
@import "~highlight.js/styles/monokai-sublime.css";
@import "./loading";

@quote-padding: #bfbfbf; // 引用块左边装饰颜色
@quote-background: #f8f8f8; // 引用块背景颜色

// 默认占位图的
@image-width: 480px;
@image-aspect-ratio: 0.5625%;

.markdown {

	font-size: initial;
	line-height: 1.75;

	video {
		max-width: 100%;
	}

	ol, ul {
		margin: 1em 0;
	}

	pre, code {
		border-radius: 5px;
	}

	code {
		display: inline-block;
		font-size: .9em;
		//line-height: 25px; // 太高占位置

		tab-size: 4;
		-moz-tab-size: 4;
	}

	.inline-code {
		margin: 0 .2em;
		padding: 2px 5px;
		line-height: 20px;

		border-radius: 5px;
		background-color: #23241f;
		color: #efefe9;

		word-wrap: break-word;
		word-break: break-all;
	}

	blockquote {
		margin: 0 0 20px;
		padding: 1em;

		word-wrap: break-word;
		font-size: 16px;

		background-color: @quote-background;
		border-left: .5em solid @quote-padding;
	}

	.center-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	a:not(.header-anchor) {
		word-break: break-all;
		.highlight-color(@color-link, @color-link);
	}
}

.header-anchor {
	opacity: 0;

	&:hover {
		color: @color-link;
		opacity: 1;
		text-decoration: none;
	}
}

.md-img-container {
	display: block;
	position: relative;
	width: var(--width, 480px);
	margin: 0 auto;
	max-width: 100%;

	&::before {
		content: "";
		display: block;
		width: 100%;
		padding-top: var(--aspect-ratio, 0.5625%);
	}
}

.md-img {
	display: block;
	width: 100%;
	height: 100%;
	resize: none;
}

.md-alt {
	display: block;
	text-align: center;
	padding-top: .5em;
	font-style: italic;

	&::before {
		content: "「 ";
	}

	&::after {
		content: " 」";
	}
}
