@import "ToBeImpoert";

.button, button {
	font-size: 1rem;
	padding: .4rem 1.2rem;
	text-align: center;
	border: none;

	.click-item;
	.button-color("base");

	&.round {
		border-radius: @length-button-radius;
	}

	&.icon {
		font-size: 1.3rem;
		padding: .3rem;
	}

	&.transparent {
		color: @color-text;
		background: none;
		&:hover{
			color: @color-text  + #303030;
		}
	}

	&.dangerous {
		.button-color("dangerous");
	}
	&.minor {
		.button-color("minor");
	}

	&:focus{
		outline: 0;
	}
	&:disabled, :disabled:hover {
		cursor: initial;
		color: @color-text-minor;
		border-color: @color-text-minor;
		background-color: transparent;
	}
}

.button-color(@name) {
	@ref: "color-button-@{name}";
	@reft: "color-button-@{name}-text";

	background-color: transparent;
	color: @@ref;
	border: solid 1px @@ref;
	transition: ease-in-out .1s;

	&:hover {
		color: @@reft;
		background-color: @@ref;
	}
	&:active {
		background-color: @@ref + #0a0a0a;
	}


	&.filled {
		border: none;
		background-color: @@ref;
		color: @@reft;

		&:hover {
			background-color: @@ref + #0a0a0a;
			color: @@reft;
		}
		&:active {
			background-color: @@ref - #080808;
			color: @@reft;
		}
	}

	&.glass {
		background-color: transparent;
		border: solid 1px fadeout(@@ref, 60%);
		color: fadeout(@@ref, 20%);

		&:hover {
			background-color: fadeout(@@ref, 95%);
			color: @@ref;
			border-color: @@ref;
		}
		&:active {
			background-color: fadeout(@@ref, 95%);
		}
	}
}
