@import "Theme";


/*
<div class="dropdown">
	<span class="menu-value">默认标题</span>
	<i class="right fa fa-caret-down"></i>
	<div class="menu">
		<span>菜单项1</span>
		<span>菜单项2</span>
	</div>
</div>
*/
.dropdown {
	display: flex;
	align-items: center;

	padding: .4em .5em;
	border: solid 1px #c6c6c6;
	border-radius: 6px;
	cursor: pointer;
	transform: rotateZ(0);
	z-index: 20;

	&:hover {
		border-color: @color-input-active;
		.input-highlight-hover;
	}

	.menu-value {
		pointer-events: none;
	}

	&.active {
		.input-highlight-focus;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	& > .menu {
		position: absolute;
		top: 100%;
		left: -1px;
		right: -1px;

		border-radius: 0 0 5px 5px;
		background-color: white;
		.input-highlight-focus();

		& > * {
			display: block;
			padding: .4em .5em;
			&:hover {
				background-color: #f2f2f2;
			}
		}
	}
	& > .right {
		position: absolute;
		right: .8em;
		pointer-events: none;
	}
}


@color-tag-background: white;

/*
<div class="tag-group">
	<a>Last</a>
	<a>Second</a>
	<a>First</a>
</div>
 */

.tag-group {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	border-radius: 4px;
	background-color: @color-tag-background;
}

.tag-group-item {
	position: relative;
	border: solid 1px @color-tags;
	padding: .2em .4em;

	&:last-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	&:first-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&:not(:last-child) {
		padding-left: 1.2em;
		border-left-width: 0;
	}

	&:not(:first-child) {
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: -1.2em;

			border: solid .65em transparent;
			border-top-color: @color-tag-background;
			border-right-color: @color-tag-background;

			transform: translateX(-50%) translateY(-50%) rotate(45deg);
			box-shadow: 1px -1px 0 0 @color-tags;
		}
	}

	&:hover, &:focus {
		color: @color-tag-background;
		background-color: @color-tags;
		text-decoration: none;

		&:after {
			border-top-color: @color-tags;
			border-right-color: @color-tags;
		}
	}
}

/*
 * 排行列表
 */
ol.rank {
	padding-left: 0;
	list-style: none;

	& > li {
		position: relative;
		counter-increment: index;
		margin-bottom: .8em;

		&:first-child::before{
			background: @color-second;
		}
		&:nth-child(2)::before{
			background: lighten(@color-second, 6%);
		}
		&:nth-child(3)::before{
			background: lighten(@color-second, 12%);
		}
		&::before {
			content: counter(index);
			position: absolute;
			top: .1em;
			padding: 0 .3em;
			border-radius: .3em;
			font-weight: 600;
			color: white;
			background: #CDCDCD;
		}
		& > .item {
			position: relative;
			display: block;
			margin-left: 1.5em;
			line-height: 1.4;
		}
	}
}
