@import "Variables";


.panel {
	border: solid 1px @color-border;
	background-color: @color-panel-background;
	box-shadow: 0 0 4px fade(@color-border, 70%);
	padding: 1.2rem;

	&.large-padding{
		padding: 3rem;
	}
	&.round{
		border-radius: 1rem;
	}
}

.segment:not(:last-child) {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: solid 1px @color-border;
}

h1, h2, h3, h4, h5, h6 {
	&.padding {
		border-left: 8px solid @color-head-padding;
		padding-left: 10px;
	}
}
