@import "ToBeImport";

.full-screen {
	height: 100vh;
	overflow: hidden;
}

.panel {
	padding: 1.2rem;

	border: solid 1px @color-border;
	background-color: @color-panel-background;
	box-shadow: 0 0 4px fade(@color-border, 70%);

	&.large-padding {
		padding: 3rem;
	}
	&.round {
		border-radius: 1rem;
	}
}

.segment:not(:last-child) {
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: solid 1px @color-border;
}

h1, h2, h3, h4, h5, h6 {
	&.padding {
		border-left: 8px solid @color-primary-light;
		padding-left: 10px;
	}
	&.compact {
		margin: 0;
	}
}

hr {
	border: 0 solid @color-border;
	border-bottom-width: 1px;
}

.input, input {
	padding: .5em;
	min-width: 0; //谷歌浏览器默认有一个最小宽度，这里给他去掉

	outline: none;
	border: solid 1px @color-border;
	border-radius: .3rem;
	color: inherit;
	background: transparent;

	&:not([readonly]):focus {
		.input-highlight-focus();
	}

	&[type=color] {
		cursor: pointer;
		height: 2rem;
	}
}

.minor-text {
	color: @color-text-minor;
}

.head {
	.circle(5rem);

	&.small {
		.circle(3rem)
	}
}

.highlight {
	.highlight-color(@color-link, @color-link);
	&:hover {
		text-decoration: underline;
	}

	&.error {
		.highlight-color(#f94f55, #f94f55);
	}
	&.pink {
		.highlight-color(white, #ff72ae);
	}
}

.meta {
	margin-right: 1em;

	& > i {
		margin-right: .2em;
	}
}

.side-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;

	top: 72vh;
	right: .8rem;

	border-radius: .2rem;
	background-color: white; // 按钮组边角

	@media screen {
		@media (min-width: @length-screen-mobile) {
			top: 60%;
			right: 1rem;
		}
		@media (min-width: @length-screen-pad) {
			right: 3%;
		}
		@media (min-width: @length-screen-wide) {
			right: 5%;
		}
	}

	& > .kx-btn.outline {
		margin-top: -1px;
		padding: 0;
		width: 2.3rem;
		height: 2.3rem;

		font-size: 1.4rem;

		@media screen {
			@media (min-width: @length-screen-mobile) {
				font-size: 1.8rem;
				width: 3rem;
				height: 3rem;
			}
		}
	}
}

// * * * * ** Nav light & dark theme ** * * * *

.light .nav-item{
	&:hover, &:focus {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

.dark .nav-item{
	color: white;

	&:hover, &:focus {
		color: white;
		background-color: rgba(255, 255, 255, 0.3);
	}
}

.nav-item {
	display: inline-block;
	vertical-align: top;

	padding: .8rem 1.5rem;
	height: 100%;

	font-size: 16px;
	background-color: transparent;
	.click-item;

	&:hover, &:focus {
		text-decoration: none;
		color: black;
		background-color: rgba(253, 253, 253, 0.5);
	}
}

.btn-group {

	& > .kx-btn + .kx-btn {
		margin-left: .5rem;
	}

	&.compact > .kx-btn {
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			margin-left: 1px;
			&.outline {
				margin-left: -1px;
			}
		}
	}
}

.vertical-btn-group {

	& > .kx-btn + .kx-btn {
		margin-top: .3rem;
	}

	&.compact > .kx-btn {

		&:not(:last-child) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-top-right-radius: 0;

			margin-top: 1px;
			&.outline {
				margin-top: -1px;
			}
		}
	}
}

.square {
	border-radius: 0 !important;
}

.cram {
	.full-percent;
}

.show-mobile {
	@media screen and (min-width: @length-screen-mobile) {
		display: none;
	}
}

.hide-mobile {
	@media screen and (max-width: @length-screen-mobile) {
		display: none;
	}
}

.el-wrapper {
	display: contents;
}

.inline {
	display: inline-block;
}

.list {
	padding-left: 0;
	list-style: none;
}
