
.glass {
	position: relative;
	overflow: hidden;

	&::before {
		content: '';
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		filter: blur(var(--blurSize, 0)) grayscale(var(--grayscaleSize, 0));
	}

	.blur(@size) {
		--blurSize: @size;
		&::before {
			margin: -@size;
		}
	}

	.sc() {
		--grayscaleSize: 50%;
	}
}
