@import "nav";
@import "imports";

html {
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.ealert {
	display: block;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	z-index: 99999;
	padding: 14px;
	text-align: center;
	font-size: 18px;
	color: #e62e2e;
	background-color: #f0efe9;
}

.kx-dialog-header h3 {
	margin: 0;
}

.side-buttons {
	position: fixed;
	top: 65vh;
	right: 1rem;

	border-radius: .2rem;
	background-color: white; // 按钮组边角

	@media screen {
		@media (min-width: @length-screen-pad) {
			right: 3%;
		}
		@media (min-width: @length-screen-wide) {
			right: 5%;
		}
	}

	& > .kx-btn {
		width: 2.3rem;
		height: 2.3rem;
		padding: 0;
		font-size: 1.4rem;

		@media screen and  (min-width: @length-screen-mobile) {
			font-size: 1.8rem;
			width: 3rem;
			height: 3rem;
		}
	}
}

// * * * * ** Nav light & dark theme ** * * * *

.about-tab-page {
	padding: 20px 0;
	font-size: initial;
	background-color: whitesmoke;

	@media screen and (min-width: @length-screen-mobile) {
		padding: 80px 15vw;
	}
	@media screen and (min-width: @length-screen-wide) {
		padding: 80px 22vw;
	}
}

.about-section {
	margin-bottom: 20px;
	padding: 20px;

	background-color: white;
	box-shadow: 0 0 2px #ccc;

	@media screen and (min-width: @length-screen-mobile) {
		padding: 40px;
		margin-bottom: 40px;
	}
}

.loose {
	line-height: 1.5;
}

// 错误页用的
.red {
	color: #f40000;
}

/** 处于暗色背景下的输入框 */
input.dark, .input.dark {
	color: white;

	&:focus {
		background-color: #333;
		box-shadow: 0 0 3px 2px rgba(29, 204, 255, .7);
	}
}

// 圆形头像
.head {
	.circle(75px);

	&.small { .size(48px); }
}
