@import "Imports";

// TODO: 这小字体简直是毒瘤
html {
	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

.kx-dialog-header h3 {
	margin: 0;
}

.side-buttons {
	display: flex;
	flex-direction: column;
	position: fixed;

	top: 72vh;
	right: .8rem;

	border-radius: .2rem;
	background-color: white; // 按钮组边角

	@media screen {
		@media (min-width: @length-screen-mobile) {
			top: 60%;
			right: 1rem;
		}
		@media (min-width: @length-screen-pad) {
			right: 3%;
		}
		@media (min-width: @length-screen-wide) {
			right: 5%;
		}
	}

	& > .kx-btn.outline {
		margin-top: -1px;
		padding: 0;
		width: 2.3rem;
		height: 2.3rem;

		font-size: 1.4rem;

		@media screen {
			@media (min-width: @length-screen-mobile) {
				font-size: 1.8rem;
				width: 3rem;
				height: 3rem;
			}
		}
	}
}

// * * * * ** Nav light & dark theme ** * * * *

.nav-right {
	display: flex;
	justify-content: right;
	margin-left: auto;
}

.light .nav-item {
	&:hover, &:focus {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

.dark .nav-item {
	color: white;

	&:hover, &:focus {
		color: white;
		background-color: rgba(255, 255, 255, 0.2);
	}
}

.nav-item {
	display: inline-block;

	padding: 0 1.5rem;
	line-height: 3rem; // 与NAV高度一致

	font-size: 16px;
	background-color: transparent;
	.click-item;

	&:hover, &:focus {
		text-decoration: none;
		color: black;
		background-color: rgba(255, 255, 255, 0.4);
	}
}

// highlight dark link
.hd-link {
	color: @color-second;
}
