@import "Theme";

@quote-padding: #bfbfbf; // 引用块左边装饰颜色
@quote-background: #f8f8f8; // 引用块背景颜色


.markdown {

	font-size: 16px;

	* {
		line-height: 29px;
	}

	pre, code {
		border-radius: .5em;
	}

	code {
		display: inline-block;
		font-size: .9em;
		line-height: 20px;
		& *{
			line-height: 25px;
		}
	}

	pre > code {
		-moz-tab-size: 4;
		tab-size: 4;
	}

	.inline-code {
		margin: 0 .2em;
		padding: .2em .3em;

		border-radius: .4em;
		background-color: #23241f;
		color: #efefe9;
	}

	blockquote {
		margin: 0 0 20px;
		padding: 1em;

		word-wrap: break-word;
		font-size: 16px;

		background-color: @quote-background;
		border-left: .5em solid @quote-padding;
	}

	img {
		max-width: 100%;
		resize: none;
	}

	.image-wrapper {
		text-align: center;
	}

	a:not(.header-anchor) {
		word-break: break-all;
		.highlight-color(@color-link, @color-link);
	}
}

.header-anchor {
	opacity: 0;
	font-size: 1rem;

	&:hover {
		opacity: 1;
		color: #4bb8ff;
		text-decoration: none;
	}
}
