/*
 * 常用 Less 公共样式封装，修改自：
 * https://blog.csdn.net/boyit0/article/details/78802385
 */

// 盒子宽高
.size(@w, @h) {
	width: @w;
	height: @h;
}

.margin-abs(@margin) {
	top: @margin;
	bottom: @margin;
	left: @margin;
	right: @margin;
}

// 最小尺寸
.min-size(@w, @h) {
	min-width: @w;
	min-height: @h;
}

// 块级元素水平居中
.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// 居中, 确定尺寸
.center-absolute(@w, @h) {
	.size(@w, @h);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -(@w / 2);
	margin-top: -(@h / 2);
}

.full-percent() {
	.size(100%, 100%);
}

.full-vertex() {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

// 居中, 不确定尺寸
.center-absolute-auto() {
	.full-vertex;
	position: absolute;
	margin: auto;
}

// 遮罩层, 全屏遮罩、区域遮罩
.overlay-fixed() {
	.full-vertex;
	position: fixed;
}

// 扩展点击区域
.extend-click(@left, @right, @top, @bottom) {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: -@top;
		left: -@left;
		right: -@right;
		bottom: -@bottom;
	}
}

// 定宽居中页面布局
.layout-page(@width: 80%) {
	width: @width;
	margin-left: auto;
	margin-right: auto;
}

// 圆形
.circle(@diameter){
	width: @diameter;
	height: @diameter;
	border-radius: 50%;
}

//------------------------------------- ├ 字体 ┆ └------------------------------------/


// 禁止换行, 文本溢出省略号显示 (一行)
.ellipsis() {
	white-space: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
}

// 文字透明
.transparent-text() {
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
}

//------------------------------------- ├ 图像 ┆ └------------------------------------/

// 用 max-width 来防止图片撑破容器
.max-img() {
	display: block;
	max-width: 100%;
	height: auto;
}

// 全屏大图背景
.fullscreen-bg(@url) {
	width: 100vw;
	height: 100vh;
	background: url(@url) no-repeat 50% 50%;
	background-size: cover;
}

//------------------------------------- ├ 动效 ┆ └------------------------------------/

// 链接默认无下划线，hover后有下划线的样式
.hover-link() {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// 将链接变成默认的文字样式
.unstyled-link() {
	color: inherit;
	cursor: inherit;
	text-decoration: inherit;
	&:active, &:focus {
		outline: none;
	}
}

// 三维闪动 bug 处理
.transform-fix() {
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}

//------------------------------------- ├ 功能 ┆ └------------------------------------/

// 用于点击的元素，指针为手指样式、并禁止选取
.click-item() {
	cursor: pointer;
	.disable-user-select();
}

// 禁止选取文字，这个postcss不处理得自己搞前缀
.disable-user-select() {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

// 隔行换色
.zebra-lists(odd, @color) {
	&.odd {
		> li:nth-child(odd) {
			background-color: @color;
		}
	}
}

.zebra-lists(even, @color) {
	&.even {
		> li:nth-child(even) {
			background: green;
		}
	}
}

// 首字下沉
.first-letter(@font-size: 6em) {
	&::first-letter {
		float: left;
		line-height: 1;
		font-size: @font-size;
	}
}

// 特殊标记段落第一行
.first-line() {
	&::first-line {
		color: red
	}
}

// 美化选中文本
.beauty-select() {
	&::selection {
		color: #fff;
		background-color: #6bc30d;
		text-shadow: none;
	}
}

