@charset "UTF-8";

@import "Variables";

.highlight-link() {
	color: @color-link;
	outline: none;
	text-decoration: none;
	&:visited {
		color: @color-link;
	}
	&:hover {
		color: @color-link;
		text-decoration: underline;
	}
}


.input-highlight-hover() {
	border: solid 1px lighten(@color-input-active, 16%);
	box-shadow: 0 0 4px lighten(@color-input-active, 20%);
}

.input-highlight-focus() {
	border: solid 1px @color-input-active;
	box-shadow: 0 0 4px lighten(@color-input-active, 12%);
}
