

@color-primary: #00c6fa; // 主色
@color-second: #fa77d5; // 次要颜色，当主要颜色过多时使用一些。

@color-primary-light: #00d9ff;

//页面背景颜色
@color-background: #fcfcff;
//页面背景图片
@img-background: none;

//文字颜色
@color-text: #333;
@color-text-minor: #838f97; //次要文字

//面板背景颜色
@color-panel-background: #FFFFFF;

@color-border: #c8c8c8; //边框颜色
@length-border-shadow: 4px; //边框阴影大小

//顶部导航栏背景颜色
@color-nav-background: #FFFFFF;
//顶部导航栏文字颜色
@color-nav: #3a3a3a;

//遮罩层颜色
@color-dimmer: rgba(0, 0, 0, 0.35);

//输入框选中时的边框颜色
@color-input-active: #1dccff;

//开关按钮关闭时的颜色
@color-input-slient: #ccc;

//标题左边装饰块的颜色
@color-head-padding: #71edf0;

//分类标签的边和文字框颜色
@color-tags: #3eaaff;

//链接文字颜色
@color-link: #5153ff;

//响应式设计界面宽度
@length-screen-mobile: 768px;  // 手机
@length-screen-pad: 992px; // 平板
@length-screen-wide: 1200px; // 宽屏
